:root {
    --headerfooter-height: 0cm;
    --top-rule: 1px solid black;
    --top-font: 'Noto Sans';
    --rule-padding: 1mm;
    --margin-header: 5mm;
}
@page {
    size: A4;
    margin: 3cm 2cm 2.5cm;
}

@page:first {
    --shadow-color: #00000040;
    --cover-color: #3e5067;
    --dist: 5cm;
    background: 
        linear-gradient(-45deg, color-mix(in srgb, var(--cover-color), black 20%) 8cm, var(--cover-color) 8.05cm, var(--shadow-color) 8cm, #00000000 8.6cm),
        linear-gradient(45deg, color-mix(in srgb, var(--cover-color), black 40%) 18cm, var(--cover-color) 18.05cm, var(--shadow-color) 18cm, #00000000 18.6cm),
        linear-gradient(-45deg, color-mix(in srgb, var(--cover-color), black 50%) 28cm, var(--cover-color) 28.05cm, var(--shadow-color) 28cm, #00000000 28.6cm),
        linear-gradient(45deg, color-mix(in srgb, var(--cover-color), black 60%) 23cm, var(--cover-color) 23.05cm, var(--shadow-color) 23cm, #00000000 23.6cm),
        linear-gradient(to top, #083105 90%, #000000 100%);
    @top-left {
        display: none;
    }
    @top-center {
        display: none;
    }
    @top-right {
        display: none;
    }
    @bottom-center {
        display: none;
    }
}
@page:nth(2) {
    @top-left {
        display: none;
    }
    @top-center {
        display: none;
    }
    @top-right {
        display: none;
    }
    @bottom-center {
        display: none;
    }
}
@page:last {
    @top-left{
        content: element(abstractRunning);
    }
}

@page {
    @top-left {
        border-bottom: var(--top-rule);
        margin-bottom: var(--margin-header);
        padding-bottom: var(--rule-padding);
        align-items: end;
        content: string(chapterTitle);
        text-transform: uppercase;
    }
    @top-center {
        border-bottom: var(--top-rule);
        margin-bottom: var(--margin-header);
        padding-bottom: var(--rule-padding);
        align-items: end;
        font-family: 'Noto Sans';
    }
    @top-right {
        border-bottom: var(--top-rule);
        margin-bottom: var(--margin-header);
        padding-bottom: var(--rule-padding);
        align-items: end;
        content: string(section);
    }
    @bottom-center {
        content: counter(page);
    }
}
header {
    position: relative;
    right: 0px;
    color: var(--color-light-grey);
    padding-left: 3cm;
}
header > * {
    text-align: right !important;
    margin-right: 0 !important;
    font-family: var(--text-sans-family);
}
header > .abstract {
    display: none;
    position: running(abstractRunning);
}
header > .date {
    display: none;
}
header > .author {
    margin-top: 2cm;
}

/* Extract strings or elements */
header h1.title {
    string-set: title content(text);
    padding: 0;
}
h1 {
    string-set: chapterTitle content(text);
}
h2 {
    string-set: section content(text);
}
h1 {
    padding-top: 3cm;
    break-before: page;
}
header .abstract {
    
}

header {
    break-after: page;
}
pre {
    overflow-x: revert;
}
footer {
    display: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--text-rm-family);
    text-align: justify;
}
p {
    text-indent: 1.5em;
}
