
/* Variables */
:root {
    --color-lighter-grey: #f8f8f8;
    --color-light-grey: #dedede;
    --color-grey: #a0a0a0;
    --color-dark-grey: #666666;
    --color-darker-grey: #3c3c3c;
    --accent-color: #282828;
    --highlight-color: #fff8be;
    --note-color: #b8d1ee;
    --note-example-color: #91bfa4;
    --note-alert-color: #c98787;
    --note-warning-color: #deb801;
    --ref-color: #7292ce;
    --text-color: var(
    --color-darker-grey);
    --text-sans-family: 'Noto Sans', 'Noto Sans Symbols 2', 'Noto Emoji', sans-serif;
    --text-rm-family: 'Noto Serif', 'Noto Sans Symbols 2', 'Noto Emoji', sans-serif;
    --text-mono-family: 'Noto Mono Sans', monospace;
    --text-font-family: var(--text-sans-family);
    --grid-separator-width: 20px;
    --margin: 25px;
    --bar-width: 250px;
    --top-bar-height: 48px;
    --scaled-em: 16;
}
/* Layout */
#top-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    background-color: var(--color-lighter-grey);
    width: 100%;
    color: var(--color-darker-grey);
    border-bottom: 1px solid var(--color-light-grey);
    height: var(--top-bar-height);
    font-size: 1.1em;
    padding: 0 var(--margin);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 20;
    overflow: auto;
}
body {
    padding-top: var(--top-bar-height);
}
#hide-all {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: white;
    z-index: 200;
}
#pdf-iframe {
    display: none;
}
@media (max-width: 1100px) {
    button#toggle-left-bar {
        display: flex;
    }
}
@media (max-width: 770px) {
    button#toggle-right-bar {
        display: flex;
    }
}
@media (max-width: 600px) {

}
#top-bar a {
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    color: inherit;
}
/* #grid, #left-bar, #contents, #right-bar, #shadow */
#grid {
    display: flex;
}



/* Style */
body {
    margin: 0;
    counter-reset: exercise example;
    font-family: var(--text-font-family);
    color: var(--text-color);
    font-size: 0.9em;
    max-height: 100dvh;
}
nav {
    font-size: 0.9em;
}
pre {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 6px;
    overflow-x: scroll;
    font-size: 0.9em;
}
code {
    font-family: 'Noto Sans Mono', monospace;
}

/* Formating */
.flushright {
    text-align: right;
}
#title-block-header {
    margin: 2em 0;
}
#title-block-header h1 {
    margin: 0.2em 0;
    text-align: center;
}
#title-block-header .subtitle {
    text-align: center;
    font-size: 1.2em;
    text-indent: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-style: italic;
}
#title-block-header .abstract {
    width: 80%;
    margin: auto;
    font-size: 0.9em;
}
#title-block-header .abstract p {
    text-indent: 0px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Eduki elements */


/* Layout */

.hide {
    display: none;
}
h2 {
    margin-top: 0em;
}
h4 {
    margin-top: revert;
    background-color: revert;
    padding: revert;
    color: #444444;
    border-bottom: solid black 1px;
    padding-bottom: 2px;
}
h5 > :first-child {
    display: none;
}
h5 {
    margin-top: revert;
    background-color: revert;
    padding: revert;
    font-style: italic;
    text-decoration: underline;
    color: #444444;
    font-size: 0.9em;
}
a.copy-href {
    display: inline-block;
    font-style: normal;
    cursor: pointer;
    color: var(--ref-color);
    transform: translate(0.2em, -0.1em);
}
a.copy-href:hover {
    text-decoration: none;
}
a {
    color: var(--ref-color);
    text-decoration: none;
}
mjx-container[jax="CHTML"][display="true"] {
    overflow-x: auto;
    overflow-y: hidden;
}
figure {
    margin-left: 1.7em;
    margin-right: 1.7em;
    display: flex;
    flex-direction: column;
}
figure > img {
    border-radius: 6px;
    color: grey;
}
span.theorem {
    font-style: italic;
    font-family: 'Noto Serif', serif;
    padding: 6px;
    border-radius: 6px;
    display: block;
    background-color: #eeeeff;
    text-indent: initial;
}
span.theorem::before {
    content: "Theorem: ";
    content: attr(data-label);
    font-style: normal;
    font-weight: bold;
}
span.theorem.important-definition {
    font-style: revert;
    background-color: #fff5e5;
}
.note {
    margin: 1rem 0 1rem 0;
    padding: 0px 16px 1px;
    border-radius: 4px;
    border-left: 3px solid;
    border-color: var(--note-color);
    background-color: color-mix(in srgb, var(--note-color) 20%, white);
    color: #4e4d4d;
    font-size: 0.9em;
    position: relative;
}
.note::before {
    content: "📝 " attr(data-label);
    font-weight: bold;
    display: block;
    background-color: var(--note-color);
    color: color-mix(in srgb, var(--note-color) 50%, black);
    padding: 2px 6px;
    top: -1px;
    font-size: 0.9em;
    position: relative;
    left: -19px;
    width: calc(100% + 23px);
    border-radius: 4px 4px 0 0;
}
li p, .note p, .math, .theorem, blockquote p {
    text-indent: initial;
}
blockquote {
    margin: 1em 0 1em calc(1.7em + 3px);
    padding-left: 16px;
    border-left: 3px solid #e6e6e6;
    color: #606060;
    font-size: 0.9em;
}
ol, ul {
    margin-left: 2.7em;
}
dd > ul, dd > ol {
    margin-left: revert;
}
dl {
    margin: 1em 0;
}
sup {
    font-size: 0.7em;
}
dd {
    margin: 0.2em 0em 0.2em 1.7em;
}
.highlight {
    padding: 1px 3px !important;
}
.highlight mjx-math {
    /* padding: 1px 3px !important; */
    background-color: var(--highlight-color);
}
.highlight .display mjx-math {
    background-color: var(--highlight-color);
    padding: 10px !important;
    border-radius: 6px;
}
.note > :first-child {
    margin-top: 8px;
}
.note.example {
    --note-color: var(--note-example-color);
}
.note.example::before {
    counter-increment: example;
    content: "✅ " attr(data-label) " " counter(example);
}
.note.warning {
    --note-color: var(--note-warning-color);
}
.note.warning::before {
    counter-increment: example;
    content: "⚠️ " attr(data-label);
}
.note.alert {
    --note-color: var(--note-alert-color);
}
.note.alert::before {
    counter-increment: example;
    content: "🚨 " attr(data-label);
}
.exercise {
    font-size: 0.9em;
    border-bottom: solid black 1px;
    position: relative;
    margin: 1em 1.7em;
}
.exercise::before {
    counter-increment: exercise;
    content: var(--sec-number) "." counter(exercise) " " attr(data-label);
    border-bottom: solid black 1px;
    display: block;
    font-weight: bold;
    padding-bottom: 2px;
}
.exercise > :first-child {
    margin-top: 4px;
    text-indent: 0px;
}
.exercise > * {
    margin-bottom: 4px;
}
.exercise .hint::before {
    padding: 0px 4px;
}
.exercise .hint {
    border: none;
    background-color: #eeeeee;
}
.exercise .hint:focus {
    border: solid grey 1px;
    background-color: white;
}
.exercises ~ * li {
    position: relative;
}
.hint {
    font-size: 0.9em;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 3px;
    display: block;
    color: #5e5e5e;
    background-color: white;
    max-width: 100%;
    border: solid 1px;
    border-color: inherit;
}
.hint:hover {
    box-shadow: #66666680 0px 2px 4px 0px;
}
.hint:focus {
    box-shadow: #66666680 0px 2px 4px 0px;
}
.hint::before {
    content: "💡";
    padding: 0px 6px;
}
.hint > :last-child {
    margin-bottom: 0px;
}
.hint > :first-child {
    margin-top: 0px;
}
.hint > * {
    display: none;
    text-indent: 0px;
}
.hint > ol, .hint > ul {
    margin-left: 12px;
}
.hint:focus {
    z-index: 50;
}
.hint:focus > * {
    display: block;
    padding: 4px;;
}
.hint::before {
    content: "💡";
}
.hint:focus::before {
    display: none;
}
.ggb {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
    max-width: 600px;
    margin:auto;
    margin-top: calc(25px + 16px);
}
.ggb::before {
    content: attr(data-label);
    top: -25px;
    position: relative;
    padding: 4px 8px;
    display: block;
    background-color: #aaaaaa;
    border-radius: 6px 6px 0 0;
    border: solid grey 1px;
    color: white;
    font-size: 0.9em;
}
.ggb > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
table {
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: calc(1em / 1.1);
    margin: 1em auto;
    text-align: start;
    border-spacing: 0px;
}
thead {
    background-color: var(--color-darker-grey);
    color: var(--color-lighter-grey);
}
tr > * {
    padding: 4px 10px;
}

tr.even {
    background-color: var(--color-light-grey);
}
tr.odd {
    background-color: var(--color-lighter-grey);
}
col {
    width: auto !important;
}
dt {
    font-weight: bold;
}

h1.title {
    font-size: 2em;
    border-bottom: none;
}
.subtitle {
    font-size: 1.4em;
}
.h1 {
    font-size: 1.6em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--color-darker-grey);
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: initial;
}
h2 {
    font-size: 1.4em;
    text-align: initial;
}
h3 {
    font-size: 1.25em;
    text-align: initial;
}
h4 {
    font-size: 1.1em;
    text-align: initial;
}
h5 {
    font-size: 1.05em;
    text-align: initial;
}
h6 {
    font-size: 1em;
    text-align: initial;
    font-style: italic;
}


a#eduki-home {
    font-weight: bold;
}
#top-bar > div {
    display: flex;
    gap: 12px;
    align-items: center;
}
img#logo-eduki {
    height: 38px;
}
#top-bar button {
    border: none;
    background-color: transparent;
    font-size: 1.4em !important;
    height: 1.5em;
    width: 1.5em;
    font: unset;
    display: none;
    color: var(--color-grey);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
#top-bar button:hover {
    background-color: var(--color-light-grey);
    color: var(--ref-color);
    transition: background-color 0.4s;
}
button#presentation {
    display: flex;
}
button#download-pdf {
    display: flex;
}

#grid.hide-right-bar {
    grid-template-columns: var(--margin) var(--bar-width) auto var(--margin) ;
    max-width: calc(1350px - var(--bar-width) - var(--grid-separator-width));
}
#grid > * {
    padding: 0 var(--margin);
}
#grid > nav {
    position: sticky;
    top: var(--top-bar-height);
    height: fit-content;
    width: 100%;
    max-height: calc(100dvh - var(--top-bar-height));
    overflow-y: auto;
    box-sizing: border-box;
    padding: var(--margin);
}
#grid > nav > div {
    overflow: hidden;
}
#grid > nav ol {
    margin: 4px 0px 4px 2px;
    padding: 0px;
}
#grid > nav li {
    margin: 0px;
    padding: 4px 0px 6px 9px;
    list-style-type: none;
    border-left: 1px solid var(--color-grey);
    margin-left: 1px;
}
#grid > nav li.current {
    margin: 0px;
    padding: 4px 0px 6px 8px;
    list-style-type: none;
    border-left: 3px solid var(--ref-color);
}
#grid > nav a {
    text-decoration: none;
    color: var(--color-darker-grey);
    display: block;
}
#grid > nav a:hover {
    color: var(--ref-color);
}
div#sitemap > a {
    text-decoration: none;
    color: var(--color-darker-grey);
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}
div#sitemap ol {
    margin: 0px;
    margin-left: 12px 
}
div#sitemap > ol {
    margin: 0px;
}
div#sitemap li {
    margin: 0px;
    padding: 4px 0px 6px 0px;
    display: flex;
    gap: 8px;
    list-style-type: none;
    border-left: none;
    justify-content: space-between;
}
#sitemap > ol > li {
    padding-top: 0;
}
#sitemap li + ol {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}
#sitemap > ol > li > div {
    display: none;
}
#sitemap > ol > li + ol {
    max-height: revert;
}
#sitemap li.expanded + ol {
    max-height: revert;
}
.expand-arrow {
    font-size: 0.8em;
    transform: rotate(-90deg);
    padding: 0.1em 0;
    transition: transform 0.3s;
    cursor: pointer;
}
.expanded > div > .expand-arrow {
    transform: rotate(0deg);
}
#grid > nav .current a {
    text-decoration: none;
    color: var(--ref-color);
}
#grid > nav .current-page a {
    text-decoration: none;
    color: var(--ref-color);
}
#contents {
    text-align: justify;
    hyphens: auto;
    overflow-x: auto;
    width: 300%;
}
#right-bar {
    grid-column-start: 3;
    grid-row-start: 1;
}
#sitemap > ol > li > a {
    font-weight: bold;
}
#previous-next {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    font-size: 0.9em;
    padding: 4px 0;
}
#previous-next a {
    padding: 0.5em .75em;
    border-radius: 2em;
    background-color: var(--color-lighter-grey);
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    max-width: calc(50% - 1.4em);
}
#previous-next a > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#previous-next a:hover {
    background-color: var(--color-light-grey);
}
#previous::before {
    content: "🡨 ";
}
#next::after {
    content: " 🡪";
}
footer {
    display: flex;
    padding: 1.5em 0;
    gap: 0.5em;
    border-top: 1px solid var(--color-grey);
    text-align: center;
    font-size: 0.7em;
    justify-content: center;
    flex-direction: column;
}
footer p {
    margin: 0;
}
footer .author:last-of-type:after {
    content: "." !important;
}
footer .author:first-of-type:before {
    content: "© " !important;
}
footer .author:nth-last-of-type(2):after {
    content: " and ";
}
footer .author:after {
    content: ", ";
}
#toggle-shadow-area {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000080;
    z-index: 5;
}
@media (max-width: 1100px) {
    button#toggle-left-bar {
        display: flex;
    }
    nav#left-bar {
        display: none;
        width: var(--bar-width);
        position: fixed;
        z-index: 10;
        background-color: white;
        left: 0;
    }
    #toggle-shadow-area.showl {
        display: block;
    }
    #left-bar.showl {
        display: block;
        height: calc(100dvh - var(--top-bar-height));
    }
}
@media (max-width: 770px) {
    #right-bar {
        display: none;
    }
    button#toggle-right-bar {
        display: flex;
    }
    nav#right-bar {
        display: none;
        width: var(--bar-width);
        position: fixed;
        z-index: 10;
        background-color: white;
        right: 0;
    }
    #toggle-shadow-area.showr {
        display: block;
    }
    #right-bar.showr {
        display: block;
        height: calc(100dvh - var(--top-bar-height));
    }
}
@media (max-width: 600px) {
    :root {
        --margin: 15px;
    }
    body {
        --top-bar-height: 42px;
    }
    img#logo-eduki {
        height: 32px;
    }
}
/* Slides */
body.slides {
    padding-top: 0;
    --top-bar-height: 42px;
    padding-bottom: var(--top-bar-height);
}
.slides #grid {
    max-width: revert;
    padding: 0;
}
.slides #left-bar,
.slides #right-bar,
.slides #presentation,
.slides #download-pdf,
.slides footer,
.slides #previous-next {
    display: none;
}
.slides #top-bar {
    top: revert;
    bottom: 0;
    border-bottom: none;
    border-top: 1px solid var(--color-dark-grey);
    background-color: var(--color-darker-grey);
    color: var(--color-light-grey);
}
.slides #top-bar button:hover {
    background-color: var(--color-dark-grey);
}
.slides img#logo-eduki {
    height: 32px;
}
.slides #slides-menu > *,
.slides #increase-font-size,
.slides #decrease-font-size,
.slides #stop-presentation,
.slides #toggle-left-bar, 
.slides #toggle-right-bar 
{
    display: flex;
}

.slides #toggle-shadow-area.showr,
.slides #toggle-shadow-area.showl {
    display: block;
}
.slides #left-bar.showl,
.slides #right-bar.showr {
    top: 0;
    display: block;
}
.slides .current-frame {
    padding-top: calc(var(--scaled-em) * 1rem);
}
.slides #contents {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: calc(var(--scaled-em) * 1rem);
    margin: 0 calc(var(--scaled-em) * 2rem);
    padding: 0;
    padding-bottom: 100dvh;
}
.slides .frame,
.slides .current-slide ~ .pause {
    margin-top: 100dvh;
    display: block;
}
.slides  {
    padding-top: var(--slides-padding-top);
}
.slides #top-bar button.disabled {
    color: var(--color-dark-grey);
    pointer-events: none;
}

.material-symbols-rounded {
    font-size: revert;
}